/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #hero {
        min-height: 400px;
        height: 400px;
        background: url('../Images/fog-covered-forest-1024.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        color: whitesmoke;
    }

    #hero h1 {
        width: 180px;
        text-align: center;
        font-size: 3em;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 50;
        margin-top: 50px;
        color: whitesmoke;
    }

    #hero h1::before {
        content: '';
        position: absolute;
        width: 180px;
        height: 200px;
        border: 10px solid rgba(66 117 148 / 50%);
        z-index: -1;
    }

    .white-comb {
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 100;
    }

}

@media only screen and (min-width: 48em) {

    #hero {
        position: relative;
        height: 600px;
    }

    #hero h1 {
        font-size: 4.375em;
        margin-bottom: 0;
    }

    #hero h1::before {
        width: 290px;
        height: 240px;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }

    .white-comb {
        position: absolute;
        bottom: -2px !important;
    }
}

@media only screen and (min-width: 64em) {

    #hero {
        background: url('../Images/fog-covered-forest-1920.jpg');
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    #hero h1 {
        -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px);
        font-size: 4.375em;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }
}



/*-- -------------------------- -->
<---            About           -->
<--- -------------------------- -*/

#about {
    margin-bottom: 150px;
}

#about .container {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#about img {
    width: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
    box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
}

#about h2 {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary);
    padding: 25px 0;
    text-align: left;
}

#about p {
    max-width: 550px;
    padding: 10px 0;
}

.blue {
    color: var(--primary);
    font-weight: 600;
}

.red {
    color: #B81818;
    font-weight: 600;
}

#about h4 {
    font-size: 1em;
    text-align: left;
    font-weight: 600;
    padding: 10px 0;
}

#about .button {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: whitesmoke;
    border: none;
    padding: 12px 20px;
    margin: 40px auto;
    font-weight: 400;
    text-decoration: none;
    width: 160px;
    letter-spacing: 1px;
    z-index: 2;
    border-radius: 3px;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #about .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #about img {
        width: 350px;
        height: auto;
        border-radius: 10px;
    }

    #about h2 {
        font-size: 2.5em;
        padding-top: 0;
    }

    #about a {
        font-size: 1.1em;
    }

    #about .button {
        margin: 0;
        margin-top: 25px;
    }

}


/*-- -------------------------- -->
<---           Footer            -->
<--- -------------------------- -*/

#footer {
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contact img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}

.footer-contact p {
    font-size: .8em;
    padding: 10px 20px;
    align-self: center;
}

.footer-middle {
    margin-bottom: 50px;
}

.footer-nav {
    padding: 50px 0 50px 50px;
}

.footer-nav h3 {
    font-size: 2em;
    color: var(--primary);
    text-align: left;
    padding-bottom: 20px;
}

.footer-nav a {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    width: 100px;
}

.footer-nav a:hover {
    color: var(--primary);
}

.footer-middle p {
    font-size: .8em;
    text-align: center;
    padding: 0 20px;
    max-width: 300px;
    margin: auto;
}

#footer span {
    position: relative;
    display: block;
    font-size: .5em;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    padding: 40px 10px;
    text-align: center;
}

#footer span::before {
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 260px;
    background-image: url("../Images/tree accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .15;
    right: -100px;
    bottom: 80px;
    overflow: hidden;
    z-index: -1;
}

#footer span::after {
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 260px;
    background-image: url("../Images/birds silhouette 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .15;
    right: -60px;
    bottom: 170px;
    overflow: hidden;
    z-index: -1;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {

    .footer-nav {
        padding-left: 80px;
    }

    .footer-middle p {
        max-width: 400px;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #footer .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        padding: 0;
    }

    .footer-contact {
        align-self: flex-start;
    }

    #footer span {
        font-size: .8em;
        padding: 60px 10px;
    }

    #footer span::before {
        width: 320px;
        height: 320px;
        right: 90px;
        bottom: 100px;
    }

    #footer span::after {
        width: 260px;
        height: 260px;
        right: 180px;
        bottom: 240px;
    }

}