/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

#hero {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-bottom: 300px;
}

#hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 100%;
    bottom: -110px;
    background: #141414;
    background: -moz-linear-gradient(top, #141414 35%, whitesmoke 180%);
    background: -webkit-linear-gradient(top, #141414 35%, whitesmoke 180%);
    background: linear-gradient(to bottom, #141414 35%, whitesmoke 180%);
}

#hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(188, 167, 58);
    background-size: 100%;
    opacity: .15;
    border-radius: 50%;
    bottom: 150px;
    right: -100px;
    overflow: hidden;
}

#hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    flex-direction: column;
    justify-content: left;
}

.hero-left {
    position: relative;
}

.hero-left h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("../Images/birds silhouette 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .5;
    left: 170px;
    top: -60px;
    overflow: hidden;
}

.hero-left h2 {
    font-size: 5em;
    text-align: left;
    color: var(--primary);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--primary);
    max-width: 225px;
}

.hero-left h3 {
    position: relative;
    font-size: 2em;
    text-align: left;
    color: #333;
}

.hero-left span {
    color: var(--primary);
    font-weight: 600;
}

.hero-left p {
    font-size: 1em;
    padding: 30px 0 50px;
    max-width: 225px;
}

.hero-right {
    position: relative;
}

.hero-right h3 {
    font-size: 1.5em;
    text-align: left;
    color: var(--primary);
    font-weight: 600;
}

.hero-right p {
    padding: 15px 0;
    font-size: 1.1em;
    color: #333;
}

.hero-right .button {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: whitesmoke;
    border: none;
    padding: 12px 20px;
    margin: 20px 0;
    font-weight: 400;
    text-decoration: none;
    width: 160px;
    letter-spacing: 1px;
    z-index: 2;
    border-radius: 3px;
}

#dark-pines {
    display: block;
    position: absolute;
    background-image: url("../Images/Pine trees clipart - dark gray cropped.png");
    background-position: center;
    background-repeat: repeat-x;
    width: 100%;
    height: 340px;
    bottom: 0;
}

#dark-pines::after {
    content: '';
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("../Images/birds silhouette.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .5;
    right: -10px;
    bottom: 200px;
}

/* Wider Mobile */
@media only screen and (min-width: 400px) {

    #hero::before {
        width: 300px;
        height: 300px;
        bottom: 150px;
        right: -100px;
    }

    .hero-left h2::after {
        width: 220px;
        height: 220px;
        left: 220px;
        top: -70px;
    }

    #dark-pines::after {
        width: 210px;
        height: 210px;
        bottom: 200px;
        right: -20px;
    }

}

/* Widest Mobile */
@media only screen and (min-width: 500px) {

    .hero-left h2::after {
        width: 250px;
        height: 250px;
        left: 250px;
        top: -70px;
    }

    #hero::before {
        width: 350px;
        height: 350px;
        bottom: 150px;
        right: -100px;
    }

    #dark-pines::after {
        width: 250px;
        height: 250px;
        bottom: 170px;
    }

}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {

    #hero .container {
        flex-direction: row;
    }

    .hero-left h3 {
        padding-top: 15px;
        font-size: 1.3em;
    }

    .hero-left p {
        font-size: 1em;
        padding: 50px 0 50px;
    }

    .hero-left p::after {
        content: '';
        display: block;
        position: absolute;
        width: 180px;
        height: 180px;
        background-image: url("../Images/birds silhouette 2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        opacity: .5;
        left: 25px;
        bottom: -100px;
        overflow: hidden;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .hero-right {
        align-self: flex-end;
        margin: 0 auto;
        bottom: 36px;
    }

    .hero-right::before {
        content: '';
        display: block;
        position: absolute;
        width: 220px;
        height: 220px;
        background-image: url("../Images/birds silhouette 2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        opacity: .5;
        right: -50px;
        top: -220px;
        overflow: hidden;
    }

    .hero-right::after {
        width: 300px;
        height: 300px;
        bottom: -200px;
        right: -150px;
    }

    .hero-left h2::after {
        content: none;
        background-image: none;
        background-repeat: none;
        background-position: none;
        opacity: 1;
    }

    .hero-right .button::after {
        width: 280px;
        height: 280px;
        right: -120px;
        top: 30px;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) {

    .container {
        padding: 0 100px
    }

    .hero-left h2 {
        font-size: 6em;
        max-width: none;
    }

    .hero-left h3 {
        font-size: 1.5em;
    }

    .hero-left p {
        max-width: 300px;
    }

    .hero-right h3 {
        font-size: 2.2em;
    }

    .hero-right p {
        font-size: 1.5em;
    }

    .hero-left p::after {
        width: 180px;
        height: 180px;
        left: -60px;
        bottom: -120px;
    }

    .hero-right .button {
        width: 185px;
    }

    .hero-right::before {
        width: 300px;
        height: 300px;
        right: -100px;
        top: -300px;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    .hero-left h2 {
        font-size: 8em;
        max-width: none;
        border-width: 5px;
    }

    .hero-left h3 {
        font-size: 2.2em;
    }

    .hero-left p {
        font-size: 1.3em;
        max-width: 400px;
    }

    .hero-right {
        left: 100px;
    }

    .hero-right h3 {
        font-size: 2.2em;
    }

    .hero-right p {
        font-size: 1.5em;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {

    #hero::before {
        width: 550px;
        height: 550px;
        bottom: 50px;
        right: -100px;
    }

    .hero-left p::after {
        width: 220px;
        height: 220px;
        left: -150px;
        bottom: -140px;
    }

    .hero-left h2 {
        font-size: 10em;
    }

    .hero-left h3 {
        font-size: 4em;
    }

    .hero-left p {
        font-size: 1.5em;
    }

    .hero-right h3 {
        font-size: 2.7em;
    }

    .hero-right p {
        font-size: 1.7em;
    }

    .hero-right .button {
        width: 210px;
    }

    .hero-right::before {
        width: 300px;
        height: 300px;
        right: -100px;
        top: -300px;
    }

    #dark-pines::after {
        width: 320px;
        height: 320px;
        bottom: 90px;
        right: 100px;
    }

}

/* Large Desktop */
@media only screen and (min-width: 1500px) {

    #hero {
        height: 100vh;
    }

}

/*-- -------------------------- -->
<---          Why Choose        -->
<--- -------------------------- -*/

#why-choose {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 250px;
    z-index: 1;
}

#why-choose .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#why-choose .container::after {
    content: '';
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("../Images/compass.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .3;
    left: -75px;
    top: -310px;
    overflow: hidden;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    transform: rotate(-17deg);
    z-index: -1;
}

.why-choose-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;
}

.why-choose-title img {
    max-width: 300px;
    margin-bottom: 50px;
    z-index: 10;
}

.why-choose-title h3 {
    text-align: left;
}

#why-choose h3 span {
    color: var(--primary);
    font-weight: 600;
}

#why-choose p {
    position: relative;
    padding-top: 25px;
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

#why-choose p span {
    color: var(--primary);
    font-weight: bold;
}

#why-choose h1 {
    margin: 200px 0;
}

/* Landscape Mobile */
@media only screen and (min-width: 587px) {

    .w-title {
        align-self: center;
    }

    .w-title h3 {
        font-size: 2.5em;
    }

    #why-choose p {
        max-width: 300px;
        padding-top: 75px;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) {

    .why-choose-title {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .why-choose-title img {
        max-width: 50%;
        height: 100%;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    .why-choose-top {
        justify-content: space-between;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {

    .why-choose-title h3 {
        font-size: 3em;
    }

    #why-choose p {
        padding-top: 75px;
        font-size: 1.5em;
        letter-spacing: 0.03em;
        max-width: 400px;
    }

}



/*-- -------------------------- -->
<---         Attributes         -->
<--- -------------------------- -*/

#attributes {
    margin-top: 150px;
    position: relative;
}

#attributes .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attributes h3 {
    font-size: 1.5em;
    padding-bottom: 50px;
    color: var(--primary);
    font-weight: bold;
}

.roots {
    position: relative;
}

.roots img {
    padding-bottom: 50px;
    max-width: 350px;
}

.roots ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    margin-bottom: 90px;
    padding-left: 70px;
    max-width: 350px;
}

.roots ul li {
    position: relative;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: 25px;
}

.roots ul li::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 12px;
    background-image: url("../Images/leaf outline - green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    left: -20px;
    top: 0;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {

    #attributes h3 {
        padding-bottom: 75px;
    }

    .roots img {
        padding-bottom: 50px;
        max-width: 500px;
    }

    .roots ul li::before {
        content: none;
    }

    .roots ul li {
        position: absolute;
        color: var(--primary);

    }

    /* .roots::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        background-size: 100%;
        background-color:rgb(180, 180, 180, .25);
        border-radius: 40%;
        top: -270px;
    } */

    .affordable {
        left: -81px;
        top: 76px;
        -webkit-transform: rotate(65deg);
        -moz-transform: rotate(65deg);
        -ms-transform: rotate(65deg);
        -o-transform: rotate(65deg);
        transform: rotate(65deg);
    }

    .efficient {
        left: -13px;
        top: 166px;
        -webkit-transform: rotate(48deg);
        -moz-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
        -o-transform: rotate(48deg);
        transform: rotate(48deg);
    }

    .unique {
        left: 73px;
        top: 223px;
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    .flexible {
        left: 175px;
        top: 252px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    .fast {
        left: 280px;
        top: 252px;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    .clean {
        left: 358px;
        top: 230px;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    .responsive {
        left: 431px;
        top: 168px;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }

    .optimized {
        left: 503px;
        top: 77px;
        -webkit-transform: rotate(-65deg);
        -moz-transform: rotate(-65deg);
        -ms-transform: rotate(-65deg);
        -o-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }

}


/*-- -------------------------- -->
<---           Perks            -->
<--- -------------------------- -*/

#perks {
    margin-top: 50px;
    padding-top: 100px;
    position: relative;
    background-color: var(--logo-color);
    padding-bottom: 150px;
}

#perks h2,
#perks h3,
#perks p {
    color: whitesmoke;
    letter-spacing: .03em;
    text-align: center;
}

#perks h2 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

#perks h3 {
    font-size: 1.3em;
    padding-bottom: 25px;
}

#perks .bottom-section p {
    font-size: .9em;
    font-weight: 300;
    max-width: 500px;
    letter-spacing: .04em;
}

#perks p span {
    color: whitesmoke;
    font-weight: 600;
}

.top-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.top-section img {
    width: 75%;
    padding-bottom: 50px;
    max-width: 250px;
}

.top-section-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
}

.bottom-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-img {
    position: relative;
    display: block;
    background-image: url("../Images/cellphone-clipart-icon-blue-white.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    background-size: 100px;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    z-index: 10;
}

.mobile-img::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    left: -85px;
}

.mobile-img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    right: -85px;
}

.seo-img {
    position: relative;
    display: block;
    background-image: url("../Images/SEO Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    background-size: 100px;
    top: 0;
    margin-bottom: 50px;
    z-index: 10;
}

.seo-img::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    left: -85px;
}

.seo-img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    right: -85px;
}

.ada-img {
    position: relative;
    display: block;
    background-image: url("../Images/Checklist Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    background-size: 100px;
    top: 0;
    margin-bottom: 50px;
    z-index: 10;
}

.ada-img::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    left: -85px;
}

.ada-img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: var(--primary);
    border-radius: 50%;
    top: 0;
    right: -85px;
}

.bottom-section h3 {
    position: relative;
    z-index: 1;
}

.bottom-section p {
    padding-bottom: 100px;
}

.bottom-section h3::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 2px;
    background-size: 100%;
    background-color: var(--primary);
    top: -100px;
    left: -70px;
    z-index: 1;
}

#white-pines {
    position: absolute;
    width: 100.5%;
    bottom: -1px;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {

    #perks h2 {
        font-size: 3em;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #perks {
        padding-bottom: 30%;
    }

    #perks .container {
        padding: 0;
    }

    #perks h2,
    #perks h3,
    #perks p {
        text-align: left;
    }

    .top-section {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        margin: 0 25px 100px;
    }

    .top-section img {
        width: 75%;
        padding-bottom: 50px;
    }

    .top-section-text {
        margin-right: 100px;
    }

    .bottom-section {
        flex-direction: row;
        align-items: flex-start;
    }

    .bottom-section::before {
        content: '';
        position: absolute;
        width: 65%;
        height: 2px;
        background-size: 100%;
        background-color: var(--primary);
        top: 50px;
        left: 100px;
        z-index: 1;
    }

    .mobile-img {
        background-position: left;
    }

    .mobile-img::before {
        content: none;
    }

    .mobile-img::after {
        content: none;
    }

    .seo-img {
        background-position: left;
    }

    .seo-img::before {
        content: none;
    }

    .seo-img::after {
        content: none;
    }

    .ada-img {
        background-position: left;
    }

    .ada-img::before {
        content: none;
    }

    .ada-img::after {
        content: none;
    }

    .bottom-section div {
        padding: 0 25px;
    }

    .bottom-section h3::before {
        content: none;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {}



/*-- -------------------------- -->
<---           Pricing          -->
<--- -------------------------- -*/

#pricing {
    margin-top: 50px;
    padding-top: 50px;
}

#pricing .container {
    position: relative;
    padding: 0 15px;
    margin: auto;
    max-width: 800px;
}

#pricing h2 {
    position: relative;
    font-size: 2.3em;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#pricing h2::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 61px;
    background-image: url("../Images/tree branch accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    left: -64px;
    top: -20px;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
    overflow: hidden;
}

#pricing h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 61px;
    background-image: url("../Images/tree branch accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    right: -64px;
    top: -20px;
    -webkit-transform: scaleX(-1) rotate(9deg);
    -moz-transform: scaleX(-1) rotate(9deg);
    -ms-transform: scaleX(-1) rotate(9deg);
    -o-transform: scaleX(-1) rotate(9deg);
    transform: scaleX(-1) rotate(9deg);
    overflow: hidden;
}

.price-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.price {
    position: relative;
    padding-bottom: 50px;
    margin: 0 auto 70px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
    box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
    max-width: 500px;
    border-bottom: 5px var(--primary) solid;
}

.price h3 {
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
}

.bronze {
    background: #d88f36;
    /* Old browsers */
    background: -moz-linear-gradient(left, #d88f36 0%, #f7bd88 100%);
    background: -webkit-linear-gradient(left, #d88f36 0%, #f7bd88 100%);
    background: linear-gradient(to right, #d88f36 0%, #f7bd88 100%);
}

.silver {
    background: #e5ebee;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c0c0c0 0%, #e5ebee 100%);
    background: -webkit-linear-gradient(left, #c0c0c0 0%, #e5ebee 100%);
    background: linear-gradient(to right, #c0c0c0 0%, #e5ebee 100%);
}

.gold {
    background: #f3e2c7;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f3e2c7 0%, #c19e67 0%, #e9d4b3 100%);
    background: -webkit-linear-gradient(left, #f3e2c7 0%, #c19e67 0%, #e9d4b3 100%);
    background: linear-gradient(to right, #f3e2c7 0%, #c19e67 0%, #e9d4b3 100%);
}

.price h4 {
    font-size: 1.6em;
    margin: 0 auto;
    padding: 25px 50px 0;
    color: #333;
}

#pricing .button {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: whitesmoke;
    border: none;
    padding: 12px 20px;
    margin: 0 auto 40px;
    font-weight: 400;
    text-decoration: none;
    width: 160px;
    letter-spacing: 1px;
    z-index: 2;
    border-radius: 3px;
}

#pricing ul {
    margin: auto;
    padding-left: 50px;
    margin-bottom: 90px;
    margin-top: 100px;
    max-width: 350px;
}

#pricing ul li {
    position: relative;
    display: block;
    list-style: none;
    font-size: .8em;
    text-align: left;
    padding-bottom: 25px;
}

#pricing ul li::before {
    content: "";
    position: absolute;
    height: 68px;
    width: 34px;
    background-image: url("../Images/leaf outline - green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    left: -50px;
    top: 10px;
}

#pricing ul li h3 {
    font-size: 1.5em;
    padding: 20px 0;
    color: #000;
    text-align: left;
    font-weight: bold;
}

#pricing p {
    font-size: 1.1em;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #pricing .container {
        max-width: 1100px;
    }

    .price-group {
        flex-direction: row;
        justify-content: space-around;
    }

    .price-group::before {
        content: '';
        position: absolute;
        width: 800px;
        height: 5px;
        background-size: 100%;
        background-color: var(--primary);
        top: 175px;
        z-index: -1;
    }

    .price {
        background-color: whitesmoke;
    }

    #pricing h2 {
        font-size: 3.3em;
        margin-bottom: 100px;
        max-width: 300px;
        letter-spacing: .015em;
    }

    #pricing h2::before {
        width: 150px;
        height: 91.5px;
        left: -125px;
        top: -20px;
    }

    #pricing h2::after {
        width: 150px;
        height: 91.5px;
        right: -125px;
        top: -20px;
    }

    #pricing .button {
        position: absolute;
        width: 200px;
        margin-right: 0;
        bottom: -70px;
        right: 240px;
    }

    #pricing ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding-left: 50px;
        margin-bottom: 150px;
        margin-top: 50px;
        max-width: 850px;
    }

    #pricing ul li {
        max-width: 220px;
        margin: auto;
        height: 230px;
    }

    #pricing ul li p {
        max-width: 200px;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {}


/*-- -------------------------- -->
<---         Portfolio          -->
<--- -------------------------- -*/

#portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

#portfolio .container {
    position: relative;
    padding: 0 15px;
    margin: auto;
    max-width: 800px;
}

#portfolio h2 {
    position: relative;
    font-size: 2.3em;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#portfolio h2::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 61px;
    background-image: url("../Images/tree branch accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    left: -64px;
    top: -20px;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
    overflow: hidden;
}

#portfolio h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 61px;
    background-image: url("../Images/tree branch accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    right: -64px;
    top: -20px;
    -webkit-transform: scaleX(-1) rotate(9deg);
    -moz-transform: scaleX(-1) rotate(9deg);
    -ms-transform: scaleX(-1) rotate(9deg);
    -o-transform: scaleX(-1) rotate(9deg);
    transform: scaleX(-1) rotate(9deg);
    overflow: hidden;
}

.portfolio-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-group img {
    max-width: 300px;
}

#portfolio .button {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: whitesmoke;
    border: none;
    padding: 12px 20px;
    margin: 30px auto 60px;
    font-weight: 400;
    text-decoration: none;
    width: 200px;
    letter-spacing: 1px;
    z-index: 2;
    border-radius: 3px;
}

#portfolio p {
    font-size: 1.1em;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #portfolio .container {
        max-width: 1100px;
    }

    #portfolio h2 {
        font-size: 3.3em;
        margin-bottom: 100px;
        max-width: 300px;
        letter-spacing: .015em;
    }

    #portfolio h2::before {
        width: 150px;
        height: 91.5px;
        left: -125px;
        top: -20px;
    }

    #portfolio h2::after {
        width: 150px;
        height: 91.5px;
        right: -125px;
        top: -20px;
    }

    .portfolio-group {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .portfolio-group img {
        max-width: 400px;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {}


/*-- -------------------------- -->
<---            About           -->
<--- -------------------------- -*/

#about {
    margin-bottom: 150px;
}

#about .container {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#about img {
    max-width: 250px;
    border-radius: 50%;
}

#about h2 {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary);
    padding: 25px 0;
    text-align: left;
}

#about p {
    max-width: 550px;
    margin-bottom: 25px;
}

.blue {
    color: var(--primary);
}

#about a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #about .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    #about h2 {
        font-size: 2.5em;
    }

    #about a {
        font-size: 1.1em;
    }

}

/* BG Image before footer */
.footer-img {
    background: url("../Images/fog-covered-forest-1024.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    .footer-img {
        background: url("../Images/fog-covered-forest-1920.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    .footer-img {
        background-attachment: fixed;
    }

}

/*-- -------------------------- -->
<---           Footer            -->
<--- -------------------------- -*/

#footer {
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contact img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}

.footer-contact p {
    font-size: .8em;
    padding: 10px 20px;
    align-self: center;
}

.footer-middle {
    margin-bottom: 50px;
}

.footer-nav {
    padding: 50px 0 50px 50px;
}

.footer-nav h3 {
    font-size: 2em;
    color: var(--primary);
    text-align: left;
    padding-bottom: 20px;
}

.footer-nav a {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    width: 100px;
}

.footer-nav a:hover {
    color: var(--primary);
}

.footer-middle p {
    font-size: .8em;
    text-align: center;
    padding: 0 20px;
    max-width: 300px;
    margin: auto;
}

#footer .button {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: whitesmoke;
    border: none;
    padding: 12px 20px;
    margin: 0 auto 70px;
    font-weight: 400;
    text-decoration: none;
    width: 160px;
    letter-spacing: 1px;
    z-index: 2;
    border-radius: 3px;
    text-transform: uppercase;
}

#footer span {
    position: relative;
    display: block;
    font-size: .5em;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    padding: 40px 10px;
    text-align: center;
}

#footer span::before {
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 260px;
    background-image: url("../Images/tree accent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .15;
    right: -100px;
    bottom: 80px;
    overflow: hidden;
    z-index: -1;
}

#footer span::after {
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 260px;
    background-image: url("../Images/birds silhouette 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .15;
    right: -60px;
    bottom: 170px;
    overflow: hidden;
    z-index: -1;
}

/* Landscape Mobile */
@media only screen and (min-width: 568px) {}

/* Tablet */
@media only screen and (min-width: 768px) {

    .footer-nav {
        padding-left: 80px;
    }

    .footer-middle p {
        max-width: 400px;
    }

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #footer .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }

    .footer-contact {
        align-self: flex-start;
    }

    #footer .button {
        margin: 50px 0 0;
        align-self: flex-start;
    }

    #footer span {
        font-size: .8em;
        padding: 60px 10px;
    }

    #footer span::before {
        width: 320px;
        height: 320px;
        opacity: .5;
        right: 90px;
        bottom: 100px;
    }

    #footer span::after {
        width: 260px;
        height: 260px;
        opacity: .5;
        right: 180px;
        bottom: 240px;
    }

}

/* Normal Desktop */
@media only screen and (min-width: 1300px) {}